<?php

namespace App;

use Illuminate\Database\Eloquent\Model;

class EstimasiDetail extends Model
{
    /**
     * The attributes for define of name table
     * @var string
     */
    protected $table;

    /**
     * The attributes fo define primary key of table
     * @var string
     */
    protected $primaryKey = 'detail_id';

    /**
     * The attributes that are mass assignable.
     *
     * @var array
     */
    protected $fillable = [
        'id_estimasi', 'id_sparepart', 'jumlah', 'subtotal'
    ];

    /**
     * [__construct description]
     * 
     */
    public function __construct()
    {
        $this->table = 'estimasi_detail';
    }

    /**
     * [user description]
     * 
     * @return [type] [description]
     */
    public function estimasi()
    {
    	return $this->belongsTo('App\Estimasi', 'id_estimasi');
    }

    public function sparepart()
    {
        return $this->hasOne('App\Sparepart', 'id_sparepart', 'id_sparepart');
    }
}
